*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0072E9;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/************ Layout.tsx ***********/

.layout-header {
  display: inline-flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background: var(--primary-color);
  padding: 20px;

  .user-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
  }
}

.layout-body {
  display: flex;
  height: 90%;
  width: 100%;
}

/************ App.tsx ***********/

