*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0072E9;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/************ Layout.tsx ***********/

.layout-header {
  display: inline-flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background: var(--primary-color);
  padding: 20px;

  .user-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
  }
}

.layout-body {
  display: flex;
  height: 90%;
  width: 100%;
}

/************ App.tsx ***********/

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: var(--background-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.app-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.app-footer {
  background-color: var(--background-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--primary-color);
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .app-content {
      padding: 10px;
  }
} 