*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0072E9;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

/************ Layout.tsx ***********/

.layout-header {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  padding: 5px 20px;
  filter: drop-shadow(lightgrey 0 1px 10px);

  .top-layout-row {
    display: inline-flex;

    .nav-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      border: none;
      cursor: pointer;
      padding: 5px;
      margin-right: 10px;
  
      &:hover {
        fill: #fff;
      }
    }

    .user-login {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      background: #fff;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
      cursor: pointer;
  
      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }
  }

  .nav-options {
    display: inline-flex;
    justify-content: space-around;
    padding: 5px;

    .link {
      flex-grow: 1;
      text-align: center;
      color: #fff;
      text-decoration: none;

      &:not(:last-child) {
        border-right: 2px ridge lightgray;
      }

      &:hover {
        color: black;
      }
    }
  }
}

.layout-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/************ Page Layouts ***********/

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90%;
  max-height: 85vh;
  margin: 4% 0;
  background: #fff;
  filter: drop-shadow(darkgray 0 0px 5px);
  border-radius: 50px;

  .header {

  }
  .body {
    flex-grow: 1;
    overflow: auto;
  }
  .footer {

  }
}

.popup-box {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0px 100px black;
  pointer-events: auto;
}

.unclickable {
  pointer-events: none;
}

/************ PlanCard.tsx ***********/
.plan-card-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plan-card{
  display: flex;
  flex-direction: column;
  width: 300px; 
  height: 400px; 
  margin: 10px; 
  background: #fff;
  filter: drop-shadow(darkgray 0 0px 5px);
  border-radius: 15px;
  text-align: center; 
  padding: 10px; 
}

.plan-card-button{
  margin-top: auto;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  filter: drop-shadow(lightgrey -4px 4px);
  cursor: pointer;
}

.exercise-details {
  display: flex;
  flex-direction: column;
 
}

.exercise-title {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.plan-sets {
  order: 2;
  
}

.plan-exercise {
  text-align: left;
  order: 1;
  
}

/************ StartWorkout.tsx ***********/


  .start-workout-header {
    padding: 20px 50px;
  }

  
  .start-workout-body { 
    border-block: 5px solid black;
    margin: 0 20px;
    filter: drop-shadow(lightgrey -1px 3px);
  }
  

  .start-blank-workout-button-container {
    display: inline-flex;
    justify-content: center;
    padding: 30px 0;

    .start-blank-workout-button {
      padding: 5px 20px;
      background: var(--primary-color);
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
      filter: drop-shadow(lightgrey -4px 4px);
      cursor: pointer;
    }
  }

/************ WorkoutInProgress.tsx ***********/

.workout-in-progress-container {
  padding: 40px 40px;

  .workout-in-progress-header {
    display: inline-flex;
    align-items: center;
  
    .timer {
      margin-left: auto;
    }
  
    .end-workout {
      margin-left: 10px;
      background: red;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }
}

/************ WorkoutTable.tsx ***********/

.workout-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 1px solid black;

  .exercise-column-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
}

.workout-table-row-container {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;

  .workout-table-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

    .exercise-title-column {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      max-width: calc(30vw - 80px);
      min-width: calc(30vw - 80px);

      .exercise-title {
        font-weight: bold;
      }
    }

    .exercise-sets-container {
      display: inline-flex;
      flex-direction: column;
      flex-grow: 2;
      justify-content: center;

      .exercise-set-container {
        display: inline-flex;
        justify-content: space-between;

        &:not(:last-child) {
          padding-bottom: 7px;
        }
      
        .exercise-column {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 150px;
      
          .exercise-number-input {
            background: lightgrey;
            border: none;
            border-radius: 10px;
            width: 80px;
            height: 20px;
            padding: 5px 5px 5px 15px;
            
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
      
          .exercise-checkbox-input { 
            height: 20px;
            width: 20px;
      
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  .workout-table-add-set {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .workout-table-add-set-button {
      padding: 0 6px;
      border: 2px solid lightgray;
      border-radius: 5px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

.add-exercise-button-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .add-exercise-button {
    background: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}

/****** ExerciseSearch.tsx **********/

.exercise-search-box {

  .search-input {
    width: 100%;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 1.25rem;
  }

  .results-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 3px lightgray;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;

    .result-option {
      padding: 2px 5px;
      user-select: none;
      cursor: pointer;
    }
  }
  
  .add-exercise-exercise-search-button-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
  
    .add-exercise-exercise-search-button {
      background: var(--primary-color);
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }
}

.exercise-search-button {
  position: absolute;
  right: -2%;
  top: -4%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 500;
}

/****** ExerciseAdd.tsx **********/

.exercise-add-box {

  .exercise-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .exercise-input-label {
      display: inline-flex;
      align-items: center;
      width: 100%;
      padding-top: 10px;

      .exercise-input {
        width: 60%;
        margin-left: 10px;
        padding: 4px;
      }

      .exercise-input-label-text {
        width: 40%;
      }
    }
  }

  .add-button-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
  
    .add-button {
      background: var(--primary-color);
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }
}

.exercise-add-button {
  position: absolute;
  right: -2%;
  top: -4%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 500;
}

/************ reports.tsx ***********/

.reports-popup-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; 
  
  
  }
  .reports-box {
      position: relative;
      width: 50%;
      min-height: 300px;
      background-color: #fff;
      border: 1px solid #999;
      border-radius: 4px;
      margin: 20px auto;
      padding: 20px;
      overflow: auto;
    }
  .reports-divider{
    border-top: 3px solid #bbb;
  }
  .reports-time-left{
    padding: 10px;
    float: left;
  }
  .reports-time-right{
    float: right;
    padding: 10px;
  }
  .reports-exercise-list-header{
    clear: left;
    padding: 10px;
  }
  
  .reports-exercise-list {
    display: flex;
    flex-direction: column;
  }
  
  .reports-exercise-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .exercise-info {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-right: 10px;
  }
  
  .list-title {
    padding-left: 30%;
  }
  
  .setsNreps {
    padding-right: 20%;
    
  }
  
  .reports-exercise-pr{
    clear: left;
    padding: 10px;
  }
  .pr-info{
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-right: 10px;
  }
  .pr-title{
    padding-left: 30%;
  }
  .pr-content{
    padding-right: 20%;
  }
  
  .reports-workout-button {
      cursor: pointer;
      border: 1px solid #999;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      position: fixed;
      right: calc(25% - 5px);
      top: 15px;
    }










/************ Landing.tsx ***********/

.landing-page {
  text-align: center;
  padding: 40px;
}

.landing-header {
  margin-bottom: 30px;
}

.landing-title {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.landing-subtitle {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.landing-description {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.landing-description p {
  margin-bottom: 20px;
}

/************ Spinner ***********/
.spinner-absolute {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  .path {
    stroke: #000;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

.spinner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
  
  .path {
    stroke: #000;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}